{% extends "base.html" %}
{% block title %}Door: {{ door.address }}{% endblock %}
{% block content %}
<nav>
    <ul>
        {% if prev_door_id %}
        <li>{{ door_link(prev_door_id) }}</li>
        {% endif %}

        <li>{{ turf_link(door.turf_id) }}</li>

        {% if next_door_id %}
        <li>{{ door_link(next_door_id) }}</li>
        {% endif %}
    </ul>
</nav>
<h1>{{ door.address }}</h1>
<p><a target="_blank" href="https://maps.google.com/?q={{ (door.address + ' ' + door.city + ' AL') | urlencode }}">Google Map this</a></p>
<h2>Voters</h2>
<ul class="secretly-a-table">
    {% for id in door.voters %}
    <li>{{ voter_link(id) }}</li>
    {% endfor %}
</ul>
<p>
    Or you can <a href="{{ url_for('new_door_contact', id=door._id) }}">log a new contact at this address</a>
</p>
<h2>🗒️ Notes</h2>
{{ render_notes(door) }}
{{ note_link("door", door._id) }}
{% endblock %}
