{% extends "base.html" %}
{% block title %}Add note: {{ title }}{% endblock %}
{% block content %}
<h1>Add note: {{ title }}</h1>
<form method="POST">
    <div class="form-field">
        <label for="note">Note</label>
        <input name="note" id="note" type="text" autofocus />
    </div>
    {% if typ == "voter" %}
    <div class="form-field">
        <select id="quicknote">
            <option value="i">[Add a quick note...]</option>
        </select>
        <script>
            addEventListener("DOMContentLoaded", async function() {
                const rdrQuickNotes = await fetch('/static/quicknotes.json')
                const rdQuickNotes = await rdrQuickNotes.json();
                let sel = document.getElementById("quicknote");
                for ( let note of rdQuickNotes ) {
                    let opt = document.createElement("option");
                    opt.innerHTML = note;
                    opt.value = note;
                    sel.appendChild(opt);
                }
                sel.addEventListener("change", function() {
                    if ( document.getElementById("note").value != "" ) {
                        document.getElementById("note").value += "; ";
                    }
                    document.getElementById("note").value += document.getElementById("quicknote").value;
                    //document.getElementsByTagName("form")[0].submit();
                    document.getElementById("quicknote").value = "i";
                });
            });
        </script>
    </div>
    <div class="form-field">
        <label for="dnc">Mark as do not contact</label>
        <input name="dnc" id="dnc" type="checkbox" />
    </div>
    {% endif %}
    <button type="submit">Add note</button>
<hr />
return to <a href="{{ link }}">{{ title }}</a>
{% endblock %}
