{% extends "base.html" %}
{% block title %}Voter: {{ voter.firstname }} {{ voter.middlename }} {{ voter.lastname }}{% endblock %}
{% block content %}
{% if dnc %}
<div class="big important">
    !!! do not contact !!!
</div>
{% endif %}
<nav>
    <ol>
        <li>{{ turf_link(doors[voter.door_id].turf_id) }}</li>
        <li>{{ door_link(voter.door_id) }}</li>
    </ol>
</nav>
<h1>{{ voter.firstname }} {{ voter.middlename }} {{ voter.lastname }}</h1>
<div>
        {% if voter.activeinactive == "A" %}
        Active voter registration :D
        {% elif voter.activeinactive == "I" %}
        <strong>Inactive voter registration</strong> &mdash; have them reregister to vote?
        {% else %}
        Unknown voter registration status &mdash; have them register to vote?
        {% endif %}
</div>
<a href="{{ url_for('edit_voter', id=voter._id) }}"><button>edit this voter</button></a>
<h2>🗒️ Notes</h2>
{{ render_notes(voter) }}
{{ note_link("voter", voter._id) }}
<hr />
{% endblock %}
